@import url('./GothamSSm.css');

svg #ground {
	fill: #fff;
	stroke: none;
}

svg .axis line {
	fill: none;
	shape-rendering: crispEdges;
}

svg .axis g.zero line {
		stroke: #666666;
}

svg #xAxis line {
	stroke: #666;
}

svg #xAxis{
	fill: #666666;
}

svg .axis path {
	stroke: none;
	fill: none;
}

svg .yAxis .tick {
	stroke: #e5e5e5;
	stroke-dasharray: 2;
}

svg .yAxis .zero .tick {
	stroke: #666;
	stroke-dasharray: 0;
}

svg .axis text,svg .bar text {
	font-family: 'HelveticaNeueW01-57Cn','Gotham SSm',Helvetica, sans-serif;
	font-size: 14px;
}

svg .legendItem text {
	font-family: 'HelveticaNeueW01-57Cn','Gotham SSm',Helvetica, sans-serif;
	font-size:  14px;
}

svg text.metaText {
	font-family: 'HelveticaNeueW01-57Cn','Gotham SSm',Helvetica, sans-serif;
	font-size:  14px;
	text-rendering:   optimizeLegibility;
	fill:  #999999;
}

svg text.barLabel, 
svg text.bargridLabel {
	font-family: 'HelveticaNeueW01-57Cn','Gotham SSm',Helvetica, sans-serif;
	font-size: 14px
}
